.logoutBtn {
  cursor: pointer;
  width: 115px;
  height: 30px;
  border-radius: 20px;
  color: #0079d3;
  font-weight: bold;
  border: 1px solid #0079d3;
  background-color: white;
  letter-spacing: 1.2px;
}
.owner-div{
  display: flex;
  align-content: flex-start;
}
.profile-owner{
  align-self: flex-start;
}
